*{
    margin:0;
    padding:0;
    color:white;
}
body{
    background-color:rgba(0,180, 300, 100);
    color:#ffffff;
}
#heading{
    text-align: center;
}
.EVENT.DETAIL {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reg_btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 14px 28px;   /* THIS creates size */
  font-size: 16px;
  font-weight: 500;

  color: #ffffff;
  background: linear-gradient(135deg, #4285F4, #5E6EFF);

  border: none;
  border-radius: 14px;

  cursor: pointer;
  transition: all 0.3s ease;
}
#info{
    text-align: center;
    color:azure;
    margin-top:40px;
}
.countdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

.box {
    width: 90px;
    height: 90px;
    background: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.08);
}

.box span {
    font-size: 28px;
    font-weight: bold;
    color: #0f172a;
}

.box small {
    font-size: 12px;
    color: #64748b;
}

#register{
   display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top:30px;

  padding: 14px 28px;   /* THIS creates size */
  font-size: 16px;
  font-weight: 500;

  color: #ffffff;
  background: linear-gradient(135deg, #4285F4, #5E6EFF);

  border: none;
  border-radius: 14px;

  cursor: pointer;
  transition: all 0.3s ease;
}
#about_section{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#about_section h1{
    color:black;
    margin-top: 40px;
}
#about_section p{
    background-color:#5E6EFF;
    font-size: 30px;
    margin-top: 30px;
    color:#ffffff;
    overflow-x: hidden;
    overflow-y:hidden;
    height:30vmin;
    width:fit-content;
    align-content: center;
}
.speaker_meetup{
    display:flex;
    flex-direction:column;
    align-items: center; 
}
.speaker_meetup {
    display: flex;
    flex-direction: column;     /* images in a row */
    justify-content: center; /* center horizontally */
    gap: 20px;               /* space between images */
    margin-top: 20px;
}
.speaker_meetup img{
    border-radius: 20px;
    cursor: pointer;
    animation-duration: 2s;
}
.speaker_meetup h1{
    color:black;
}
#call_action{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top: 30px;
}
#call_action h1{
    color:black;
}
#call_action p{
    font-size: 20px;
    margin-top:10px;
    color: #64748b;
}
#fill_spot{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;

  padding: 14px 28px;   /* THIS creates size */
  font-size: 16px;
  font-weight: 500;

  color: #ffffff;
  background: linear-gradient(135deg, #4285F4, #5E6EFF);

  border: none;
  border-radius: 14px;

  cursor: pointer;
  transition: all 0.3s ease;
}
footer {
    display: flex;
    justify-content: center; /* Centers items horizontally */
    align-items: center;     /* Centers items vertically */
    padding: 20px;
    background-color:black;
    color:whitesmoke;
    margin-top: 30px;
    gap: 10px; /* Optional: space between items */
}



